html {
    background-image: url("./images/wrinkeld-paper.jpg");
    background-size: cover;
}

body {
	min-height: 100%;
}

body {
	margin: 0;
	padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

header h1 {
    font-size: 60px;
}

nav {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

nav ul a{
    text-decoration: none;
}

nav li{
    display: inline-block;
    color: black;
    border-bottom: 3px solid black;
    padding: 0px 7px 0px;
    margin-right: 50px;
}

nav li:hover {
    color: white;
    background-color: black;
}

nav a:link {
    color: black;
}

nav a:hover {
    color: white;
}

nav a:visited {
    color: black;
}

nav a:visited:hover {
    color: white;
}

.title {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.launchPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 100px;
    font-family: 'Courier New', Courier, monospace;
}

.launchTitle {
    font-size: 60px;
    margin-bottom: 70px;
}

.instructions {
    font-size: 30px;
    margin: 0px 250px 0px 250px;
    padding-bottom: 30px;
}

.loginLink {
    font-size: 25px;
    font-weight: bold;
    color: white;
    background-color: blue;
    text-decoration: none;
    border: 2px solid blue;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
}

.loginLink:hover {
    background-color: rgb(45, 45, 255);
}

.loginCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 75px;
}

.login {
    width: 38%;
    color: black;
    padding: 0px 30px 0px 30px;
    font-family: 'Courier New', Courier, monospace;
}

.loginForm {
    display: flex;
    flex-direction: column;
}

.login h2 {
    font-size: 38px;
}

.loginLabel {
    font-size: 22px;
    margin-bottom: 8px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.loginInput {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 8px;
}

.loginButton {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    color: white;
    background-color: blue;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    text-align: center;
}

.loginButton:hover {
    background-color: rgb(45, 45, 255);
    cursor: pointer;
}

.logInstead {
    text-decoration: none;
    color: blue;
    font-size: 17px;
    font-weight: bold;
    margin-top: 20px;
}

.logInstead:hover {
    font-size: 20px;
}

.scheduleForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.scheduleContainer {
    margin: 10px;
}

.date {
    font-weight: bold;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}

.label {
    font-size: 20px;
    font-weight: bold;
}

.messageLabel {
    font-size: 20px;
    font-weight: bold;
    position: relative;
    bottom: 20px;
}